h1{
    color:darkblue;
}
li{
    color:darkgreen;
} 
h3{
    color:brown;
    background:aqua;
}
th{
    color:darkslategray;
    background:pink;
} 
td{
    color:midnightblue;
} 

body{
    background: #70a1ff;
    margin:100px ;
    
}
.box{
    background:#487eb0;
    background-image:aqua;
    padding:50px;
    }
#image{
    border: 10px solid red;
    width: 100px;
    height: 100px;
    border-radius:200px; 
}
