h1{
    color:darkblue;
}
li{
    color:aqua;
} 
h3{
    color:brown;
    background: green;
}
th{
    color:darkslategray;
    background:pink;
} 
td{
    color:midnightblue;
} 
body{
    background:silver;
}